<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="UTF-8">
    <title> Implémentation de l'algorithme</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

</head>
<body ng-controller="AppCtrl">
<div class="container" >
    <h1>Algorithme de réservation</h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            <label for="capacite">Capacité</label>
            <input type="number" placeholder="Capacité" name="capacite" ng-model="new.capacite" id="capacite">
            <button ng-click="add()"><span class="glyphicon glyphicon-plus"></span></button>
        </div>
        <div class="panel-body">
            <table class="table table-condensed table-striped table-bordered">
                <thead>
                <tr>
                    <th>Capacité</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="t in types">
                    <td ng-bind="t.capacite"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            Solution
            <input type="number" placeholder="Numbre de personnes" name="x" ng-model="x">
            <button ng-click="execute()">Executer</button>
        </div>
        <div class="panel-body">
            <div style="white-space: pre-wrap" ng-repeat="s in solution track by $index">{{s}}</div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            Résumé
        </div>
        <div class="panel-body">
            <div style="white-space: pre-wrap">{{final}}</div>
        </div>
    </div>
</div>
</body>
</html>